### Feeder 3.1

Step 1: Download a csv file of your chosen data set.

Step 2: Open up JupyterLab.

Step 3: Import pandas as pd.

Step 4: Upload the raw data from the chosen data set by typing rawdata=pd.read_csv("name of file")

Step 5: Specify what rows and columns you want to pull, and list them by creating a subset for the data. Type in the name of your subset = df[[and list your column headers seperated by commas]][[the rows you wanted shown, seperated by a :]]

Step 5: type in the name of your subset to make it appear.

import pandas as pd

rawdata=pd.read_csv("CountyHealthData_2014-2015.csv")

In [10]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

In [24]:
RI_subset = df[["State", "Year", "County", "Poor physical health days", "Poor mental health days"]][3245:3444]

In [25]:
RI_subset

,State,Year,County,Poor physical health days,Poor mental health days
3245,NC,1/1/2014,Alexander County,4.3,4.6
3246,NC,1/1/2015,Alexander County,4.3,4.6
3247,NC,1/1/2014,Alleghany County,3.9,4.4
3248,NC,1/1/2015,Alleghany County,3.9,4.4
3249,NC,1/1/2014,Anson County,4.0,NaN
...,...,...,...,...,...
3439,NC,1/1/2014,Yadkin County,4.1,4.6
3440,NC,1/1/2015,Yadkin County,4.1,4.6
3441,NC,1/1/2014,Yancey County,5.5,4.1
3442,NC,1/1/2015,Yancey County,5.5,4.1
3443,ND,1/1/2014,Adams County,2.5,3.0

In [26]:
RI_subset.to_csv("RI_subset.csv", index=False)